*.log
/src/test
suitesparse_stats.py
bin
/data/train
/data/val
/data/test/*
/data/wget-log
/data/mtx_T
/ML_method/LightGBM/predictResult_test12/log*
/ML_method/LightGBM/predictResult_test100/log*
/other_spgemm_methods/logs
/ML_method/LLM/checkpoint
*__pycache__/
.codex
data/mat-142
data/mat-142.zip
src/benchmarks/results
src/benchmarks/run*
src/benchmarks/wmma_type_benchmark.cu
src/benchmarks/double_wmma_benchmark.cu
tmp*
# *test
!/data/test/bundle1.mtx